{% load static %}
<html>
    <head>
        <title>MobiBlog</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"><h1 class="header-title"><a href="/">MobiBlog!</a></h1></div>
                    {% if user.is_authenticated %}
                    <div class="col-md-2 col-md-offset-6">
                        <a href="{% url 'post_new' %}">
                            <h1 class="top-menu">Add Post</h1>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="content container">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>